* {
  font-family: "Lato", sans-serif;
}

/*NAV*/
.nav-item a {
  padding: 5px;
}

li.nav-item {
  margin: 3px 0;
}

.nav-list {
  position: fixed;
  bottom: 5vh;
  left: 0;
  float: left;
  z-index: 10;
  width: 20%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

a.active {
  border-bottom: 3px solid #8536bc;
}

/*TOP*/
.top {
  position: relative;
  background-color: #aaa;
  height: 95vh;
  color: #fff;
}
.top:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-image: url("../img/back_6.jpg");
  height: 95vh;
  width: 100vw;
  background-position: 50% 0;
  background-repeat: none;
  background-size: cover;
}

.topInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 100vw;
}

.title {
  font-size: 8rem;
}

.title-description {
  padding: 24px;
  font-size: 4rem;
  background: rgba(204, 204, 204, 0.5);
}

/*ABOUT*/

.aboutDiv {
  border-top: 4px solid #2c3e50;
  background-color: #6c7a89;
  width: 100vw;
  color: #fff;
  height: auto;
  min-height: 100vh;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding-left: 150px;
  padding-right: 10%;
}

.aboutTxt {
  margin: 0;
}

/*PORTFOLIO*/

.portfolioDiv {
  padding-top: 40px;
}

.portfolioDiv .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 48px;
}

.arrows {
  position: relative;
  clear: both;
  bottom: 0;
  text-align: center;
}

.arrowLeft,
.arrowRight {
  margin: 0 5px;
}

.portfolioDiv {
  border-top: 4px solid #2c3e50;
  background-color: #31373e;
  height: auto;
  min-height: 100vh;
  justify-content: center;
  position: relative;
  color: #fff;
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 10%;
}

.portfolioDiv h2 {
  padding-bottom: 30px;
  font-size: 3.5rem;
  text-align: center;
}

.list-group-item {
  color: #000;
  font-size: 1.5rem;
}

.card-text {
  text-align: center;
  font-size: 2.5rem;
}

.cardView {
  text-align: center;
  background-color: #4740a4;
  font-weight: bold;
  border-left: 1px solid #504e71;
  border-bottom: 1px solid #504e71;
  border-right: 1px solid #504e71;
}

.cardView a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.portMore a {
  text-decoration: none;
  color: #fff;
}

/*CONTACT*/
section#contact {
  display: flex;
  margin: auto;
  width: 100%;
}

.contactDiv {
  position: relative;
  border-top: 4px solid #2c3e50;
  background-color: #6c7a89;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-left: 150px;
  padding-right: 10%;
}

.contactDiv:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-image: url("../img/back_1.jpg");
  height: 100vh;
  width: 100vw;
  background-position: 50% 0;
  background-repeat: none;
  background-size: cover;
}

.contactDiv a {
  color: #fff;
  text-decoration: none;
}

.contactDiv a:hover {
  text-decoration: none;
  color: #fff;
}

.contactOpt {
  width: auto;
  height: 100px;
  margin: auto;
}

.fa {
  font-size: 6rem;
}

.copy {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: transparent;
  font-size: 1.25rem;
  color: #000;
  width: 100vw;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    margin: 0;
  }

  .nav-list {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 0;
    bottom: 0;
  }

  .menu li {
    display: inline;
    margin: 0 auto;
  }

  .nav-item a {
    color: #31373e;
  }

  .title {
    width: auto;
    margin: auto;
  }

  .aboutDiv,
  .portfolioDiv {
    height: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .copy {
    margin-bottom: 40px;
  }

  .aboutTxt {
    font-size: 18px;
  }
}

@media all and (max-width: 992px) {
  .contactOpt {
    margin: 50px 0;
  }
  .contactDiv {
    flex-direction: column;
    padding-left: 10%;
  }
  .title-description {
    font-size: 3rem;
  }
}

@media all and (max-width: 767px) {
  .portfolioDiv .container {
    padding: 0;
  }
}
